nav{
  background-color:BurlyWood;
  text-align:center;
  width: 500px;
  border: 100px BlanchedAlmond;
  padding: 5px;
  margin: 15px;
  color: SaddleBrown;
}

header{
  background-color:Beige;
  Width:1000px;
  
}

p{
 font-family: Garamond, Georgia, Times New Roman;
  color: SaddleBrown;
}

body{
  background-color:Beige;
  width: 500px;
  padding: 100px;
  margin: 300px;
}

