nav{
  background-color:BurlyWood;
  text-align:center;
  width: 500px;
  border: 100px BlanchedAlmond;
  padding: 5px;
  margin: 15px;
  color: SaddleBrown;
}

header{
  background-color:Beige;
  
  
}

p{
 font-family: Garamond, Georgia, Times New Roman;
  color: SaddleBrown;
}

h1{
  font-family: Garamond, Georgia, Times New Roman;
  color: SeaGreen;
}

h3{
 color:RoyalBlue; 
}

body{
  background-color:Beige;
  width: 500px;
  padding: 50px;
  margin: 50px;
}

section{
 background-color: SandyBrown;
 padding: 50px;
 margin:20px;
}

